<%- include('../partials/header') %>

<div>
    <h2>Edit Ability Scores</h2>
    <p><b>Racial Bonuses:</b></p>

    <% if (character.race === 'Dragonborn') { %>
        <p>Dragonborn: STR +2 | CHA +1</p>
    <% } %> 
    <% if (character.subrace === 'Hill Dwarf') { %>
        <p>Hill Dwarf: CON +2 | WIS +1</p>
    <% } %> 
    <% if (character.subrace === 'Mountain Dwarf') { %>
        <p>Mountain Dwarf: CON +2 | STR +2</p>
    <% } %> 
    <% if (character.subrace === 'High Elf') { %>
        <p>High Elf: DEX +2 | INT +1</p>
    <% } %> 
    <% if (character.subrace === 'Wood Elf') { %>
        <p>Wood Elf: DEX +2 | WIS +1</p>
    <% } %> 
    <% if (character.subrace === 'Lightfoot') { %>
        <p>Lightfoot: DEX +2 | CHA +1</p>
    <% } %> 
    <% if (character.subrace === 'Stout') { %>
        <p>Stout: DEX +2 | CHA +1</p>
    <% } %> 
    <% if (character.subrace === 'Lightfoot') { %>
        <p>Lightfoot: DEX +2 | CON +1</p>
    <% } %>
    <% if (character.subrace === 'Rock Gnome') { %>
        <p>Rock Gnome: INT +2 | CON +1</p>
    <% } %>
    <% if (character.subrace === 'Forest Gnome') { %>
        <p>Forest Gnome: INT +2 | DEX +1</p>
    <% } %>
    <% if (character.race === 'Human') { %>
        <p>Human: All +1 </p>
    <% } %>
    <% if (character.race === 'Half-Elf') { %>
        <p>Half-Elf: CHA +2 | Two Abilities +1 (Your Choice)</p>
    <% } %>
    <% if (character.race === 'Half-Orc') { %>
        <p>Half-Orc: STR +2 | CON +1</p>
    <% } %> 
    <% if (character.race === 'Tiefling') { %>
        <p>Tiefling: CHA +2 | INT +1</p>
    <% } %> 

    <br>

    <form class="new-form num-label" action='/characters/<%=character._id%>/abilityScores?_method=PUT' method="POST">
        <!-- <input type="number" name="strength" min="3" value="<%=abilityPlaceholder.strength%>" required> -->
        <label>Strength:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="strength" min="3" value="<%=abilityPlaceholder.strength%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>

        <label>Dexterity:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="dexterity" min="3" value="<%=abilityPlaceholder.dexterity%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>

        <label>Constitution:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="constitution" min="3" value="<%=abilityPlaceholder.constitution%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>

        <label>Intelligence:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="intelligence" min="3" value="<%=abilityPlaceholder.intelligence%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>
        
        <label>Wisdom:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="wisdom" min="3" value="<%=abilityPlaceholder.wisdom%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>

        <label>Charisma:</label>
        <div class='num-input'>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button"></button>
            <input type="number" name="charisma" min="3" value="<%=abilityPlaceholder.charisma%>" required>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class='plus'></button>
        </div>
        <input type="submit" value="Update Ability Scores">
    </form>
</div>

<%- include('../partials/footer') %>