<%- include('../partials/header') %>


<% if (characters.length > 0) { %>
    <% characters.forEach(function(char){ %>
        <section class='card' onclick="window.location='/characters/<%= char._id %>';" style="cursor: pointer;">
            <img class="characterImg" src="/images/TCP Armored 3.jpg">
            <table class="characterText">
                <tr>
                    <td><b>Name:</b></td>
                    <td class='data'><%=char.name%></td>
                </tr>
                <tr>
                    <td><b>Race:</b></td>
                    <td class='data'><%=char.race%></td>
                </tr>
                <tr>
                    <td><b>Class:</b></td>
                    <td class='data'><%=char.class%></td>
                </tr>
            </table>
        </section>
    <% }) %>
<% } else { %>
    <div>
        <h2>Start building!</h2>
        <a href='/characters/new' class='button'>New Character</a>
    </div>
<% } %>

<%- include('../partials/footer') %>