<%- include('../partials/header') %>


<% if (characters.length > 0) { %>
    <% characters.forEach(function(char){ %>
        <section class='card'>
            <img class="characterImg" src="/images/hammer-left.png">
            <table class="characterText">
                <tr>
                    <td><b>Name:</b></td>
                    <td class='data'><%=char.name%></td>
                </tr>
                <tr>
                    <td><b>Race:</b></td>
                    <td class='data'><%=char.race%></td>
                </tr>
                <tr>
                    <td><b>Class:</b></td>
                    <td class='data'><%=char.class%></td>
                </tr>
            </table>
        </section>
    <% }) %>
<% } else { %>
    <div>
        Empty!
    </div>
<% } %>

<%- include('../partials/footer') %>