<%- include('../partials/header') %>

<a href="/characters/<%=character._id%>/edit" class="button">Edit Character</a>

<% if (character.abilityScores.length > 0) { %>
    <a href="/characters/<%=character._id%>/abilityScores/edit" class="button">Edit Ability Scores</a>
<% } else { %>
    <a href="/characters/<%=character._id%>/abilityScores/new" class="button">Add Ability Scores</a>
<% } %>

<a href="/characters/<%=character._id%>/equipment/new" class="button">Add Equipment</a>

<form action="/characters/<%= character._id %>?_method=DELETE" class="button" method="POST">
    <button type="submit" class="delete" onclick="return confirm('Are you sure?')">Delete Character</button>
</form>



<section class="profile">
    <img class="profileImg" src="/images/TCP Armored 3.jpg">
    <table class="profileText">
        <tr>
            <td><b>Name:</b></td>
            <td class='data'><%=character.name%></td>
        </tr>
        <tr>
            <td><b>Race:</b></td>
            <td class='data'><%=character.race%></td>
        </tr>
        <tr>
            <td><b>Subrace:</b></td>
            <% if (character.subrace) { %>
                <td class='data'><%=character.subrace%></td>
            <% } else { %>
                <td class='data'>N/A</td>
            <% } %>
        </tr>
        <tr>
            <td><b>Class:</b></td>
            <td class='data'><%=character.class%></td>
        </tr>
        <tr>
            <td><b>Alignment:</b></td>
            <td class='data'><%=character.alignment%></td>
        </tr>
    </table>
</section>

<section class="profile">
    <h3>Ability Scores</h3>
    <% if (character.abilityScores.length) { %>
        <table class="embedded">
            <tr>
                <td><b>STR:</b></td>
                <td class='data'><%=character.abilityScores[0].strength%></td>
                <td><b>DEX:</b></td>
                <td class='data'><%=character.abilityScores[0].dexterity%></td>
                <td><b>CON:</b></td>
                <td class='data'><%=character.abilityScores[0].constitution%></td>
            </tr>
            <tr>
                <td><b>INT:</b></td>
                <td class='data'><%=character.abilityScores[0].intelligence%></td>
                <td><b>WIS:</b></td>
                <td class='data'><%=character.abilityScores[0].wisdom%></td>
                <td><b>CHA:</b></td>
                <td class='data'><%=character.abilityScores[0].charisma%></td>
            </tr>
        </table>
    <% } else { %>
        <table class="embedded">
            <tr>
                <td><b>STR:</b></td>
                <td class='data'>#</td>
                <td><b>DEX:</b></td>
                <td class='data'>#</td>
                <td><b>CON:</b></td>
                <td class='data'>#</td>
            </tr>
            <tr>
                <td><b>INT:</b></td>
                <td class='data'>#</td>
                <td><b>WIS:</b></td>
                <td class='data'>#</td>
                <td><b>CHA:</b></td>
                <td class='data'>#</td>
            </tr>
        </table>
    <% } %>
</section>

<section class="profile">
    <h3>Profile</h3>
    <p><b>Characteristics</b></p>
    <p><%=character.characteristics%></p>
    <br>
    <p><b>Background</b></p>
    <p><%=character.background%></p>
</section>

<section class="profile">
    <h3>Equipment</h3>
    <table class="embedded">
        <% if (character.equipment.length) { %>
            <% character.equipment.forEach(function(e){ %>
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Cost</b></td>
                        <td><b>Weight</b></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='data'><%=e.name%></td>
                        <td class='data'><%=e.cost%></td>
                        <td class='data'><%=e.weight%></td>
                        <td>
                            <form action="/characters/<%=character._id%>/equipment/<%=e._id%>?_method=DELETE" method="POST">
                                <button type="submit" class="delete">
                                    X
                                </button>                        
                            </form>
                        </td>
                    </tr>
                </tbody>
            <% }); %>
        <% } else { %>
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Cost</b></td>
                    <td><b>Weight</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='data'></td>
                    <td class='data'></td>
                    <td class='data'></td>
                    <td></td>
                </tr>
            </tbody>
        <% } %>
    </table>
</section>

<%- include('../partials/footer') %>