<%- include('../partials/header') %>

<%if (user && (user._id.toString() === character.userId.toString())) {%>

<a href="/characters/<%=character._id%>/edit" class="button">Edit Character</a>

    <% if (character.abilityScores.length > 0) { %>
        <a href="/characters/<%=character._id%>/abilityScores/edit" class="button">Edit Ability Scores</a>
    <% } else { %>
        <a href="/characters/<%=character._id%>/abilityScores/new" class="button">Add Ability Scores</a>
    <% } %>

    <a href="/characters/<%=character._id%>/equipment/new" class="button">Add Equipment</a>

    <form action="/characters/<%= character._id %>?_method=DELETE" class="button" method="POST" style="cursor: pointer;">
        <button type="submit" class="delete" style="cursor: pointer;" onclick="return confirm('Are you sure?')">
            Delete Character
        </button>
    </form>

<%} %>

<section class="profile">
    <%if (user && (user._id.toString() === character.userId.toString())) {%>
        <img class="profileImg" src="/images/portraits/<%=character.portrait%>.png" onclick="window.location='/characters/<%=character._id%>/portrait'" style="cursor: pointer;">
    <%} else { %>
        <img class="profileImg" src="/images/portraits/<%=character.portrait%>.png">
    <% } %>
    <table class="profileText">
        <tr>
            <td><b>Name:</b></td>
            <td class='data'><%=character.name%></td>
        </tr>
        <tr>
            <td><b>Race:</b></td>
            <td class='data'><%=character.race%></td>
        </tr>
        <tr>
            <td><b>Subrace:</b></td>
            <% if (character.subrace) { %>
                <td class='data'><%=character.subrace%></td>
            <% } else { %>
                <td class='data'>N/A</td>
            <% } %>
        </tr>
        <tr>
            <td><b>Class:</b></td>
            <td class='data'><%=character.class%></td>
        </tr>
        <tr>
            <td><b>Alignment:</b></td>
            <td class='data'><%=character.alignment%></td>
        </tr>
    </table>
</section>

<section class="profile">
    <h3>Ability Scores</h3>
    <% if (character.abilityScores.length) { %>
        <div id="abilityScores">
            <p><b>STR:</b> <%=character.abilityScores[0].strength%> <span>( <i><%=Math.floor((character.abilityScores[0].strength-10)/2)%></i> )</span></p>
            <p><b>DEX:</b> <%=character.abilityScores[0].dexterity%> <span>( <i><%=Math.floor((character.abilityScores[0].dexterity-10)/2)%></i> )</span></p>
            <p><b>CON:</b> <%=character.abilityScores[0].constitution%> <span>( <i><%=Math.floor((character.abilityScores[0].constitution-10)/2)%></i> )</span></p>
            <p><b>INT:</b> <%=character.abilityScores[0].intelligence%> <span>( <i><%=Math.floor((character.abilityScores[0].intelligence-10)/2)%></i> )</span></p>
            <p><b>WIS:</b> <%=character.abilityScores[0].wisdom%> <span>( <i><%=Math.floor((character.abilityScores[0].wisdom-10)/2)%></i> )</span></p>
            <p><b>CHA:</b> <%=character.abilityScores[0].charisma%> <span>( <i><%=Math.floor((character.abilityScores[0].charisma-10)/2)%></i> )</span></p>
        </div>
        
    <% } else { %>
        <div id="abilityScores">
            <p><b>STR:</b> N/A</p>
            <p><b>DEX:</b> N/A</p>
            <p><b>CON:</b> N/A</p>
            <p><b>INT:</b> N/A</p>
            <p><b>WIS:</b> N/A</p>
            <p><b>CHA:</b> N/A</p>
        </div>
    <% } %>
</section>

<section class="profile">
    <h3>Profile</h3>
    <div>
        <p><b><u>Characteristics</u></b></p>
        <p><%=character.characteristics%></p>
        <br>
        <p><b><u>Background</u></b></p>
        <p class="lastElement"><%=character.background%></p>
    </div>
</section>

<section class="profile">
    <h3>Equipment</h3>
    <table class="embedded">
        <thead>
            <tr class="equipmentTable">
                <td><b>Name</b></td>
                <td><b>Cost</b></td>
                <td><b>Weight (lb)</b></td>
                <td></td>
            </tr>
        </thead>
        <% if (character.equipment.length) { %>
            <% character.equipment.forEach(function(e){ %>
                <tbody>
                    <tr class="equipmentTable">
                        <td class='equipmentData'><%=e.name%></td>
                        <td class='equipmentData'><%=e.cost%> <%=e.currency%></td>
                        <td class='equipmentData'><%=e.weight%></td>
                        <td class='equipmentData'>
                            <form action="/characters/<%=character._id%>/equipment/<%=e._id%>?_method=DELETE" method="POST">
                                <button type="submit" class="delete" 
                                <%if (!user || user._id.toString() != character.userId.toString()) {%>
                                    hidden disabled
                                <%} %>
                                >
                                    X
                                </button>                        
                            </form>
                        </td>
                    </tr>
                </tbody>
            <% }); %>
        <% } else { %>
            <!-- <thead>
                <tr class="equipmentTable">
                    <td><b>Name</b></td>
                    <td><b>Cost</b></td>
                    <td><b>Weight</b></td>
                    <td></td>
                </tr>
            </thead> -->
            <tbody>
                <tr class="equipmentTable">
                    <td class='equipmentData'></td>
                    <td class='equipmentData'></td>
                    <td class='equipmentData'></td>
                    <td class='equipmentData'></td>
                </tr>
            </tbody>
        <% } %>
    </table>
</section>

<%- include('../partials/footer') %>